export(acc)
export(asROCRPrediction)
export(auc)
export(b632)
export(b632plus)
export(ber)
export(configureMlr)
export(f1)
export(fdr)
export(featperc)
export(filterFeatures)
export(fn)
export(fnr)
export(fp)
export(fpr)
export(getBaggingModels)
export(getConfMatrix)
export(getFilteredFeatures)
export(getHyperPars)
export(getLearnerModel)
export(getParamSet)
export(getProbabilities)
export(getTaskData)
export(getTaskFeatureNames)
export(getTaskFormula)
export(getTaskFormulaAsString)
export(getTaskTargets)
export(getTuneResult)
export(gmean)
export(gpr)
export(learnerArgsToControl)
export(listLearners)
export(listLearnersForTask)
export(mae)
export(makeBaggingWrapper)
export(makeClassifTask)
export(makeCostMeasure)
export(makeCustomResampledMeasure)
export(makeFeatSelControlExhaustive)
export(makeFeatSelControlGA)
export(makeFeatSelControlRandom)
export(makeFeatSelControlSequential)
export(makeFilterWrapper)
export(makeFixedHoldoutInstance)
export(makeLearner)
export(makeMeasure)
export(makePreprocWrapper)
export(makeRegrTask)
export(makeResampleDesc)
export(makeResampleInstance)
export(makeRLearner)
export(makeRLearnerClassif)
export(makeRLearnerRegr)
export(makeTuneControlCMAES)
export(makeTuneControlGrid)
export(makeTuneControlIrace)
export(makeTuneControlOptim)
export(makeTuneControlRandom)
export(makeTuneWrapper)
export(makeWrappedModel)
export(mcc)
export(measures)
export(medae)
export(medse)
export(mmce)
export(mse)
export(npv)
export(performance)
export(ppv)
export(predictLearner)
export(resample)
export(rmse)
export(sae)
export(selectFeatures)
export(setAggregation)
export(setHyperPars)
export(setHyperPars2)
export(setPredictType)
export(setThreshold)
export(sse)
export(subsetTask)
export(testgroup.mean)
export(test.max)
export(test.mean)
export(test.median)
export(test.min)
export(test.sd)
export(test.sqrt.of.mean)
export(test.sum)
export(timeboth)
export(timepredict)
export(timetrain)
export(tn)
export(tnr)
export(tp)
export(tpr)
export(train)
export(trainLearner)
export(train.max)
export(train.mean)
export(train.median)
export(train.min)
export(train.sd)
export(train.sum)
export(tuneParams)
export(tuneThreshold)
import(BBmisc)
importFrom(codetools,findGlobals)
importFrom(stats,predict)
import(parallelMap)
import(ParamHelpers)
S3method(as.data.frame,Prediction)
S3method(asROCRPrediction,Prediction)
S3method(asROCRPrediction,ResamplePrediction)
S3method(getHyperPars,BaseWrapper)
S3method(getHyperPars,Learner)
S3method(getLearnerModel,WrappedModel)
S3method(getParamSet,BaseWrapper)
S3method(getParamSet,Learner)
S3method(makeRLearner,classif.ada)
S3method(makeRLearner,classif.blackboost)
S3method(makeRLearner,classif.boosting)
S3method(makeRLearner,classif.ctree)
S3method(makeRLearner,classif.fnn)
S3method(makeRLearner,classif.gbm)
S3method(makeRLearner,classif.glmboost)
S3method(makeRLearner,classif.J48)
S3method(makeRLearner,classif.JRip)
S3method(makeRLearner,classif.kknn)
S3method(makeRLearner,classif.ksvm)
S3method(makeRLearner,classif.lda)
S3method(makeRLearner,classif.logreg)
S3method(makeRLearner,classif.lssvm)
S3method(makeRLearner,classif.lvq1)
S3method(makeRLearner,classif.mda)
S3method(makeRLearner,classif.multinom)
S3method(makeRLearner,classif.naiveBayes)
S3method(makeRLearner,classif.nnet)
S3method(makeRLearner,classif.OneR)
S3method(makeRLearner,classif.PART)
S3method(makeRLearner,classif.qda)
S3method(makeRLearner,classif.randomForest)
S3method(makeRLearner,classif.rda)
S3method(makeRLearner,classif.rpart)
S3method(makeRLearner,classif.svm)
S3method(makeRLearner,regr.blackboost)
S3method(makeRLearner,regr.crs)
S3method(makeRLearner,regr.earth)
S3method(makeRLearner,regr.fnn)
S3method(makeRLearner,regr.gbm)
S3method(makeRLearner,regr.kknn)
S3method(makeRLearner,regr.km)
S3method(makeRLearner,regr.ksvm)
S3method(makeRLearner,regr.lm)
S3method(makeRLearner,regr.mars)
S3method(makeRLearner,regr.mob)
S3method(makeRLearner,regr.nnet)
S3method(makeRLearner,regr.pcr)
S3method(makeRLearner,regr.penalized.lasso)
S3method(makeRLearner,regr.penalized.ridge)
S3method(makeRLearner,regr.randomForest)
S3method(makeRLearner,regr.rpart)
S3method(makeRLearner,regr.rsm)
S3method(makeRLearner,regr.rvm)
S3method(makeWrappedModel,BaggingWrapper)
S3method(makeWrappedModel,BaseWrapper)
S3method(makeWrappedModel,Learner)
S3method(makeWrappedModel,OptWrapper)
S3method(predictLearner,BaggingWrapper)
S3method(predictLearner,BaseWrapper)
S3method(predictLearner,classif.ada)
S3method(predictLearner,classif.blackboost)
S3method(predictLearner,classif.boosting)
S3method(predictLearner,classif.ctree)
S3method(predictLearner,classif.fnn)
S3method(predictLearner,classif.gbm)
S3method(predictLearner,classif.glmboost)
S3method(predictLearner,classif.J48)
S3method(predictLearner,classif.JRip)
S3method(predictLearner,classif.kknn)
S3method(predictLearner,classif.ksvm)
S3method(predictLearner,classif.lda)
S3method(predictLearner,classif.logreg)
S3method(predictLearner,classif.lssvm)
S3method(predictLearner,classif.lvq1)
S3method(predictLearner,classif.mda)
S3method(predictLearner,classif.multinom)
S3method(predictLearner,classif.naiveBayes)
S3method(predictLearner,classif.nnet)
S3method(predictLearner,classif.PART)
S3method(predictLearner,classif.qda)
S3method(predictLearner,classif.randomForest)
S3method(predictLearner,classif.rda)
S3method(predictLearner,classif.rpart)
S3method(predictLearner,classif.svm)
S3method(predictLearner,FilterWrapper)
S3method(predictLearner,PreprocWrapper)
S3method(predictLearner,regr.crs)
S3method(predictLearner,regr.earth)
S3method(predictLearner,regr.fnn)
S3method(predictLearner,regr.gbm)
S3method(predictLearner,regr.kknn)
S3method(predictLearner,regr.km)
S3method(predictLearner,regr.ksvm)
S3method(predictLearner,regr.lm)
S3method(predictLearner,regr.mars)
S3method(predictLearner,regr.mob)
S3method(predictLearner,regr.nnet)
S3method(predictLearner,regr.pcr)
S3method(predictLearner,regr.penalized.lasso)
S3method(predictLearner,regr.penalized.ridge)
S3method(predictLearner,regr.randomForest)
S3method(predictLearner,regr.rpart)
S3method(predictLearner,regr.rsm)
S3method(predictLearner,regr.rvm)
S3method(predictLearner,TuneWrapper)
S3method(predict,WrappedModel)
S3method(print,Aggregation)
S3method(print,analyzeFeatSelResult)
S3method(print,BaggingModel)
S3method(print,BaseWrapper)
S3method(print,BaseWrapperModel)
S3method(print,ClassifTask)
S3method(print,FailureModel)
S3method(print,FeatSelControl)
S3method(print,FeatSelResult)
S3method(print,HoldoutDesc)
S3method(print,Learner)
S3method(print,Measure)
S3method(print,OptModel)
S3method(print,Prediction)
S3method(print,RepCVDesc)
S3method(print,ResampleDesc)
S3method(print,ResampleInstance)
S3method(print,ResamplePrediction)
S3method(print,SubsampleDesc)
S3method(print,SupervisedTask)
S3method(print,TuneControl)
S3method(print,TuneResult)
S3method(print,WrappedModel)
S3method(setHyperPars2,BaseWrapper)
S3method(setHyperPars2,Learner)
S3method(trainLearner,BaggingWrapper)
S3method(trainLearner,classif.ada)
S3method(trainLearner,classif.blackboost)
S3method(trainLearner,classif.boosting)
S3method(trainLearner,classif.ctree)
S3method(trainLearner,classif.fnn)
S3method(trainLearner,classif.gbm)
S3method(trainLearner,classif.glmboost)
S3method(trainLearner,classif.J48)
S3method(trainLearner,classif.JRip)
S3method(trainLearner,classif.kknn)
S3method(trainLearner,classif.ksvm)
S3method(trainLearner,classif.lda)
S3method(trainLearner,classif.logreg)
S3method(trainLearner,classif.lssvm)
S3method(trainLearner,classif.lvq1)
S3method(trainLearner,classif.mda)
S3method(trainLearner,classif.multinom)
S3method(trainLearner,classif.naiveBayes)
S3method(trainLearner,classif.nnet)
S3method(trainLearner,classif.OneR)
S3method(trainLearner,classif.PART)
S3method(trainLearner,classif.qda)
S3method(trainLearner,classif.randomForest)
S3method(trainLearner,classif.rda)
S3method(trainLearner,classif.rpart)
S3method(trainLearner,classif.svm)
S3method(trainLearner,FilterWrapper)
S3method(trainLearner,PreprocWrapper)
S3method(trainLearner,regr.earth)
S3method(trainLearner,regr.fnn)
S3method(trainLearner,regr.gbm)
S3method(trainLearner,regr.kknn)
S3method(trainLearner,regr.km)
S3method(trainLearner,regr.ksvm)
S3method(trainLearner,regr.lm)
S3method(trainLearner,regr.mars)
S3method(trainLearner,regr.mob)
S3method(trainLearner,regr.nnet)
S3method(trainLearner,regr.pcr)
S3method(trainLearner,regr.penalized.lasso)
S3method(trainLearner,regr.penalized.ridge)
S3method(trainLearner,regr.randomForest)
S3method(trainLearner,regr.rpart)
S3method(trainLearner,regr.rsm)
S3method(trainLearner,regr.rvm)
S3method(trainLearner,TuneWrapper)
