/* import fonts font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400);

/* link coloring */
a {
  color: #03638e;
    text-decoration: none;
}

/* code font */
code,
kbd,
pre,
samp {
  font-family: IBM Plex Mono, monospace;
  font-size: 0.9em;
}

/* headers */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans;
}

/* navbar */
.navbar {
    font-weight: 400;
    font-size: 17px;
}


/* no uppercase package title */
.navbar-brand {
    text-transform: none;
}


/* body font */
body {
  /* font-family: Crimson Text, serif; */
  font-family: "Roboto" , sans;
  font-size: 15px;
  font-weight: 400;
  color: black;
  padding-top: 15px; /* a bit of space to the navbar */
}


/* syntax highlighting */
.sourceCode.r .kw, .fu, .cf,   /* function names */
    .sourceCode a:link,
    .sourceCode a:active,
    .sourceCode a:visited {color:darkred;}

/* reduce paddint-top a bit (default 60px) */
.contents h2, .contents h3, .contents h4 {
    padding-top: 50px;
}

/* color pkg name in "mlr blue" */
.navbar-default .navbar-link {
    color: #03638e;
}

/* extra class to let tables use the full site width and cover the sidebar
  https://github.com/mlr-archive/mlr-tutorial/issues/150 */

.wideTable {
    width: 135%;
    max-width: 135%;
    background-color: white;
    position: sticky;
    z-index: 1;
}

/* borrowed from ropensci/rotemplate ------------------- */

.navbar .navbar-brand {
  font-size: 22px;
  line-height: 26px;
  color: #03638e;
  min-height: 40px;
}

.version.label.label-default.version-default {
   background-color: #dfe3eb;
    color: #5c677e;
    margin-bottom: 3px;
    font-size: 100%;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #1b6ada;
    background-color: #fff;
}

/* reference navbar ----------------------------------------------- */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #4b8add;
}

#sidebar .nav > li {
  padding: 0 0 0 20px;
  display: list-item;
  line-height: 15px;
}

#hexlogo {
  height: 33px;
  float: left;
  margin: 5px;
  margin-right: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand {
    padding-left: 5px;
    padding-right: 0;
    margin-right: -120px;
  }
}

small, .small {
  font-size: 70%;
}
