/* Overwriting a lot of CSS here */
/* MLR Custom Part */
.navbar {
    background-image: -webkit-linear-gradient(#25135e , #1d4ba8 50%);
    background-image: linear-gradient(#25135e , #1d4ba8 50%);
    background-repeat: no-repeat;
    border-bottomottom: 1px solid #25135e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25135e',endColorstr='#1d4ba8',GradientType=0);
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

a.navbar-brand {
    background-image: url("../img/mlrLogo_white_88x40.png");
    background-repeat: no-repeat;
    width: 88px;
    height: 40px;
    display: block;
    overflow: hidden;
    text-indent: 9999px;
    margin-top: 5px;
    margin-right: 45px;
    white-space: nowrap;
}

body {
    padding-top: 70px;
    background-attachment: fixed;
    background-color: #f8f8f8;
    background-image: linear-gradient(#889BC2 50px, #C9D3E5 55px, #E3E6F4 60px, #f4f4f4 200px);
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
    font-weight: inherit;
    background-color: #f4f4f4;
    border: none;
}

div.well, pre.well {
    background-color: #E7EBF2;
}

/* Hopefully only affects the learner list */
h3[id|=classification] + table td:last-child, h3[id|=regression] + table td:last-child, h3[id|=survival-analysis] + table td:last-child, h3[id|=cluster-analysis] + table td:last-child  {
    border-left: solid #CCC;
    border-left-width: 1px;
    padding-left: 5px;
}

h3[id|=classification] + table td, h3[id|=regression] + table td, h3[id|=survival-analysis] + table td, h3[id|=cluster-analysis] + table td  {
    font-size: small;
    padding: 1px;
    line-height: 1.3em;
}

@media (min-width: 768px) .navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 5px;
}
