<div class="row">
  <div class="contents col-md-9">

    <div class="page-header">
      <h1>Citation</h1>
    </div>

    {{#citations}}
    {{{html}}}
    <pre>{{{bibtex}}}</pre>
    {{/citations}}

    <div class="page-header">
      <h1>Authors</h1>
    </div>

    <ul class="list-unstyled">
      {{#authors}}
      <li>
        <p><strong>{{{name}}}</strong>. {{{roles}}}. {{{orcid}}}
        {{#comment}}<br /><small>{{{.}}}</small>{{/comment}}</p>
      </li>
      {{/authors}}
    </ul>

  </div>

</div>
