<div class="row">
  <div class="col-md-9">
    <div class="page-header">
      <h1>Reference</h1>
    </div>

    <div class="contents">
      <table class="ref-index">

      <colgroup>
        <col class="alias" />
        <col class="title" />
      </colgroup>

      {{#sections}}<tbody>
        <tr>
          <th colspan="2">
            <h2 id="{{slug}}" class="hasAnchor"><a href="#{{slug}}" class="anchor"></a>{{title}}</h2>
            <p class="section-desc">{{{desc}}}</p>
          </th>
        </tr>
        {{#contents}}<tr>
          <!-- {{#icon}}<img src="icons/{{{.}}}" width="40" height="40" class="icon" />{{/icon}} -->
          <td>
            <p>{{#aliases}}<code><a href="{{path}}">{{{.}}}</a></code> {{/aliases}}</p>
          </td>
          <td><p>{{{title}}}</p></td>
        </tr>{{/contents}}
      </tbody>{{/sections}}
      </table>
    </div>
  </div>

  <div class="col-md-3 hidden-xs hidden-sm" id="sidebar">
    <h2>Contents</h2>
    <ul class="nav nav-pills nav-stacked">
    {{#sections}}
      <li><a href="#{{slug}}">{{title}}</a></li>
    {{/sections}}
    </ul>
  </div>
</div>
