<div class="row">
  <div class="col-md-9 contents">
    <div class="page-header">
    <h1>{{{title}}}</h1>
    {{#source}}<small>{{{.}}}</small>{{/source}}
    </div>

    {{#description}}
    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/description}}

    {{#usage}}
    <pre class="usage">{{{.}}}</pre>
    {{/usage}}

    {{#has_args}}
    <h2 class="hasAnchor" id="arguments"><a class="anchor" href="#arguments"></a>Arguments</h2>
    <table class="ref-arguments">
    <colgroup><col class="name" /><col class="desc" /></colgroup>
    {{#arguments}}
    <tr>
      <th>{{{name}}}</th>
      <td>{{{description}}}</td>
    </tr>
    {{/arguments}}
    </table>
    {{/has_args}}

    {{#sections}}
    <h2 class="hasAnchor" id="{{slug}}"><a class="anchor" href="#{{slug}}"></a>{{{title}}}</h2>

    {{#contents}}
    {{{.}}}
    {{/contents}}
    {{/sections}}

    {{#examples}}
    <h2 class="hasAnchor" id="examples"><a class="anchor" href="#examples"></a>Examples</h2>
    <pre class="examples">{{{ . }}}</pre>
    {{/examples}}
  </div>
  <div class="col-md-3 hidden-xs hidden-sm" id="sidebar">
    <h2>Contents</h2>
    <ul class="nav nav-pills nav-stacked">
      {{#has_args}}
      <li><a href="#arguments">Arguments</a></li>
      {{/has_args}}
      {{#sections}}
      <li><a href="#{{slug}}">{{{title}}}</a></li>
      {{/sections}}
      {{#examples}}
      <li><a href="#examples">Examples</a></li>
      {{/examples}}
    </ul>

    {{#author}}
    <h2>Author</h2>
    {{{ author }}}
    {{/author}}
  </div>
</div>
