<div class="row">

  <div class="col-md-9">
    <div class="page-header">
      <h1>Change log <small>{{version}}</small></h1>
      {{#source}}<small>{{{.}}}</small>{{/source}}
    </div>

    <div class="contents">
    {{#contents}}
    {{{html}}}
    {{/contents}}
    </div>
  </div>

  <div class="col-md-3 hidden-xs hidden-sm" id="sidebar">
    <div id="tocnav">
      <h2>Contents</h2>
      <ul class="nav nav-pills nav-stacked">
      {{#contents}}
        <li><a href="#{{{anchor}}}">{{{version}}}</a></li>
      {{/contents}}
      </ul>
    </div>
  </div>

</div>
